{% if error_message %}
<div class="alert alert-danger" role="alert">
    {{ error_message }}
</div>
{% endif %}
<form action="{% url 'submitter:submit' listing_id%}" method="post">
    {% csrf_token %}

    {% for question in listing_questions_list %}
      <legend><h2>{{ question.question_text }}</h2></legend>

        {% for answer in listing_answers_list %}
            {% if answer.question_id == question.id%}
            <input type="radio" name="question_{{ question.id }}" id="answer{{ forloop.counter }}" value="{{ answer.id }}" required {% if previous_answers and answer.id in previous_answers %} checked="checked" {% endif %}>
            <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label><br>
            {% endif %}
        {% endfor %}
    {% endfor %}
    
    
    <br>
    <input type="submit" value="Submit">
</form>
