<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Thank You Page</title>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .thank-you-box {
      background-color: #E6F1F1;
      border: 2px solid black;
      border-radius: 5px;
      height: 80vh;
      width: 70vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .thank-you-box h1, .thank-you-box h2 {
      margin: 0 0;
    }
  </style>
</head>
<body>

<div class="container-fluid">
  <div class="row justify-content-center align-items-center" style="height: 100vh;">
    <div class="thank-you-box text-center">
      <h1 style = "font-size: 4vw;">Thank You!</h1><br>
      <h2 style = "font-size: 1.2vw;">Your Response has been submitted. You may now close this window.</h2>
    </div>
  </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
